<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts::header">
<title>Home</title>
<link rel="shortcut icon" href="#">
</head>
<nav th:replace="layouts::navbar"></nav>
<body>
	<br></br>
	<div class="container"
		style="border: solid black; padding-left: 5%; padding-top: 3%; padding-bottom: 3%;">
		<h3>
			<b>Main Dash-board</b>
		</h3>
		<b><a th:text="${versionNumber}"></a> </b> <br></br>
		<div class="row">
			<table style="border: solid black">
				<thead style="border: solid black">
					<tr style="border: solid black">
						<th style="border: solid black">Poject Name</th>
						<th style="border: solid black">Project Status</th>
					</tr>
				</thead>
				<tbody style="border: solid black">
					<tr th:each="project:  ${projectList}">
						<td style="border: solid black" th:text="${project.name}"></td>
						<td style="border: solid black" th:text="${project.status}"></td>
					</tr>
				</tbody>
			</table>
			<div class="col-md-3" style="justify-content: right;">
				<canvas id="myPieChart" height="50" width="50"></canvas>
				<script>
						var chartData = "[[${projectStatusCount}]]"
				</script>
			</div>
			<img th:src="@{images/projectmanagement.png}" />
			<!-- <img th:src="@{/resources/static/images/projectmanagement.png}" /> -->
		</div>
		<br></br>
		<div class="row">
			<table style="border: solid black">
				<thead>
					<tr>
						<th style="border: solid black">Employee First Name</th>
						<th style="border: solid black">Employee Last Name</th>
						<th style="border: solid black">Employee Mail</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="employee:  ${employeeList}">
						<td style="border: solid black" th:text="${employee.firstName}"></td>
						<td style="border: solid black" th:text="${employee.LastName}"></td>
						<td style="border: solid black" th:text="${employee.email}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
<script type="text/javascript" th:src="@{js/myChart.js}"></script>
</html>